* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boxes {
  display: flex;
  gap: 30px;
  margin: 15px 0;
}

.general_buttons {
  padding: 7px 25px;
  font-size: 14px;
  margin: 10px;
  background-color: aqua;
  border: none;
  cursor: pointer;
}
